@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.main-heading{
    font-family: Poppins;
    font-size : 60px;
    color : rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;;
}

.sub-heading{
    font-family: Poppins;
    font-size : 25px;
    color : rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;;
}

.subtitle{
    font-family: Poppins;
    font-size : 16px;
    color : #5BC0BE;
}

.ui-list{
    list-style-type: none;
}

.card{
    border: 0px !important;
}

.navbar-dark .navbar-brand {
    color: rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 2rem;
}

.bg-custom{
    background-color: #5BC0BE;
}

.text-custom{
    color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}