@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.main-heading{
    font-family: Poppins;
    font-size : 60px;
    color : rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;
}

.sub-heading{
    font-family: Poppins;
    font-size : 25px;
    color : rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;
}

.subtitle{
    font-family: Poppins;
    font-size : 16px;
    color : #5BC0BE;
}

.ui-list{
    list-style-type: none;
}

.card{
    border: none !important;
}

.navbar-brand {
    color: rgba(var(--bs-primary-custom), var(--bs-bg-opacity)) !important;
    font-family: Poppins;
    font-size: 20px;
    margin-left: 2rem;
}

.bg-custom{
    background-color: #5BC0BE;
}

.text-custom{
    color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
}

.card-text{
    font-size: 0.8rem;
    line-height: 2.2;
}

.form-control {
    border: none !important;
    height: 4rem;
    padding: 30px !important;
}

input[type=text] {
    font-family: Poppins;
    font-size : 16px;
    color : #5BC0BE;
}

.input-group-append{
    background: transparent;
    border: none !important; 
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: 0px !important; 
}

.input-group-text {
    display: block !important;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1.9rem !important;
    font-weight: 400;
    line-height: 1.6;
    color: rgba(var(--bs-danger-rgb), var(--bs-bg-opacity)) !important;
    text-align: center;
    white-space: nowrap;
    background-color: transparent !important; 
    border: none !important; 
}